.news-delete{
	bottom: -10px;
	right: -24px;
}
.content-bookmark{bottom:50px!important}
.clear-all{
	color: #fff;
	z-index: 100;
	width: 66%;
    margin-left: 16.666%;
    margin-top: 20px
}
.check-photo{
	border: none;
	background: none;
	top: 0px;
	left: -10px;
}
.photo-bookmark .item.activated{
	background: none !important;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
	border-color: #e5e5e5;
	background: #ff0099 !important;
}
.checkbox-icon:before{
	border-radius: 10px !important;
	background: none;
}
.ion-checkmark-round{
	color:red;
	top: 30%;
	left: 30%;
}