@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.ttf?3075499') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3075499#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-eye:before { content: '\e800'; } /* '' */
.icon-video1:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e821'; } /* '' */
.icon-gallery:before { content: '\e822'; } /* '' */
.icon-gallery1:before { content: '\e822'; } /* '' */
.icon-googleplus:before { content: '\e823'; } /* '' */
.icon-home:before { content: '\e824'; } /* '' */
.icon-icon-login:before { content: '\e825'; } /* '' */
.icon-lock:before { content: '\e826'; } /* '' */
.icon-login:before { content: '\e827'; } /* '' */
.icon-login1:before { content: '\e828'; } /* '' */
.icon-logout:before { content: '\e829'; } /* '' */
.icon-more:before { content: '\e82a'; } /* '' */
.icon-next:before { content: '\e82b'; } /* '' */
.icon-play:before { content: '\e82c'; } /* '' */
.icon-play1:before { content: '\e82c'; } /* '' */
.icon-profile:before { content: '\e82d'; } /* '' */
.icon-search:before { content: '\e82e'; } /* '' */
.icon-home1:before { content: '\e82f'; } /* '' */
.icon-share:before { content: '\e830'; } /* '' */
.icon-share1:before { content: '\e831'; } /* '' */
.icon-sucess:before { content: '\e832'; } /* '' */
.icon-tiwter:before { content: '\e833'; } /* '' */
.icon-video:before { content: '\e835'; } /* '' */
.icon-back:before { content: '\e836'; } /* '' */
.icon-backtotop:before { content: '\e837'; } /* '' */
.icon-bookmark:before { content: '\e839'; } /* '' */
.icon-bookmarks:before { content: '\e83a'; } /* '' */
.icon-camera:before { content: '\e83b'; } /* '' */
.icon-category:before { content: '\e83c'; } /* '' */
.icon-comment:before { content: '\e83d'; } /* '' */
.icon-delete:before { content: '\e83e'; } /* '' */
.icon-error:before { content: '\e83f'; } /* '' */
.icon-eyes:before { content: '\e841'; } /* '' */
.icon-setting:before { content: '\e842'; } /* '' */
.icon-share-outline:before { content: '\e843'; } /* '' */
.icon-play{
  color: white;
  top: 20%;
  left: 20%;
}
.icon-more{
  right: 0;
  margin-left: 58%;
}
.icon-gallery{
  color: white;
  top: 30%;
  left: 20%;
}.icon-gallery1{
  color: white;
  top: 20%;
  left: 15%;
}
.icon-play1{
  color: white;
  top: 30%;
  left: 25%;
}
.icon-facebook,.icon-tiwter,.icon-googleplus{
  font-size: 2em;
}
.icon-eyes{
  font-size: 18px;
}
