/*--------------------Post-----------------------/
/*--------------------post-------------*/


.post-thumbnail-video {}

.play {
    width: 30px;
    height: 30px;
    background: #000;
    opacity: 0.6;
    border-radius: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.play1 {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.play2 {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

.see-more {
    width: 100%;
    padding: 30px;
    color: #ff9999;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.caption-slide {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 5px;
    z-index: 3;
}

.caption {
    padding-bottom: 13%;
}

.caption p {
    color: #fff;
}

.slider-pager .slider-pager-page {
    color: #fff;
}

.name-category-slide {
    bottom: 10px;
    left: 2px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    padding: 4px;
}


/*--------------Top-Post--------------------*/

.toppost .thumbnail {
    width: 100%;
    height: 100%;
}

.toppost .title-thumbnail {
    width: 100%;
    height: 100%;
    padding-left: 0px;
}

.toppost .info-post {
    text-align: right;
}

.toppost {
    width: 100%;
    height: 100%;
}

.toppostvideo .thumbnail {
    width: 100%;
    height: 100%;
    padding-left: 0px;

}

.toppostvideo .title-thumbnail {
    width: 100%;
    height: 100%;
}

.toppostvideo .info-post {
    text-align: right;
}

.toppostvideo {
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    min-height: 100% !important;
}


/*------------------------Top-slide------------------*/

.top .slider-slide img {
    height: 188px;
}

/*--------------------------Video--------------------*/

.video-item {
    max-height: 230px;
    min-height: 230px;
    padding-bottom: 10px;
}


/*-----------------Details------------------*/

.content-details {
    width: 100%;
    height: 100%;
}
.content-details img{
	padding: 10px 0px;
}
.content-details a{
	color: blue;
}
.author {
    text-decoration: underline;
}

.button-comment {
    background: #ff0099;
    color: white;
}

.bookmark-sucess {
    width: 60%;
    height: 50px;
    background: #f0f0f0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* column | row */
    margin: auto;
    bottom: 100px;
    right: 0px;
    left: 0px;
    border-radius: 5px;
    z-index: 100;
}

.bookmark-sucess p {}

.bookmarked {
    color: red !important;
}
