.slide-box .slider{
	margin-top: 30%;
	width: 100%;
	height: 72%;
}
#caption-slide{
	background: #2d3238;
	opacity: 1;
}
#caption-slide .caption{padding:0}
.caption{
		background: #2d3238;
	
}
.bottom-slide{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #fbfcfc;
	background: #2d3238;
	color: #fbfcfc;
}
.slide-box{
	width: 100%;
	height: 100%;
}
.slide-d .scroll{
	height: 100%;
}
