<!DOCTYPE html>
<html>

<head>
    <title>
        Tool auto-build
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/themes/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/css/main.css" />
    <script type="text/javascript" charset="utf-8" src="/themes/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/loading.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>
    <style>
        .spinner {
            background: #282429 url(/themes/img/loading.gif) no-repeat center center;
            z-index: 99999;
            position: fixed;
            width: 100%;
            top: 0;
            height: 100%;
            -webkit-user-select: none
        }
        
        #loading {
            z-index: 500;
            opacity: 0.7;
            background-color: #999;
            width: 100%;
            height: 100%;
        }
    </style>
    <div class='spinner' id="loading"></div>
    <script type='text/javascript'>
        $(window).load(function() {
            setTimeout(function() {
                $(".spinner").fadeOut("slow");
                setTimeout(function() {
                    $("#loader").fadeOut("low")
                }, 0)
            }, 0)
        })
        $('#submitandroid').submit(function() {
            setTimeout(function() {
                $(".spinner").fadeOut("slow");
                setTimeout(function() {
                    $("#loader").fadeOut("low")
                }, 0)
            }, 10000)

        });
    </script>

</head>

<body id="body">
    <div>
        <div class="nav">
            <nav class="navbar navbar-default" rol="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/upload">Upload App</a></li>
                            <li><a href="/infobuild">build info </a></li>
                            <li><a href="/test">test </a></li>
                            <!--<li><a href="/buildtest">Build test </a></li>
                            <li><a href="/unzip">unzip </a></li>
                            <li><a href="/gethooks">get hooks </a></li>
                            <li><a href="/platform">add platform </a></li>
                            <li><a href="/buildionic">Build </a></li>
                            <li><a href="/rebuildionic">Re-Build </a></li>
                            <li><a href="/genkey">Gen key </a></li>
                            <li><a href="/getxml">Get XML </a></li>
                            <li><a href="/editxml">edit XML </a></li>
                            <li><a href="/testloop">Loop </a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>