<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <p>
        You build app {{App}} success! We send you link download file application(file unsign & signed).
    </p>
    <ul>
        <li>Link debug: {{linkAppUnsign}}</li>
        <li>Link signed: {{linkAppSigned}}</li>
    </ul>
    <p>Thanks you!</p>
</body>

</html>