<% include header%>
    <div class="container">
        <h1>Build and sign app success.</h1><br/>
        <h2>Check mail to get file apk!</h2>
        <div>
            <% if(sess.qrcode){%>
                <img src='<%=sess.qrcode%>' width="150px" height="150px" />
                <%} %>
        </div>
    </div>

    <% include footer%>