<% include header%>


    <div class="container">
        <form class="form form-horizontal" action="" enctype="multipart/form-data" method="POST">
            <% if(errors){ %>
                <div class="alert alert-danger alert-dismissable">

                    <ul>

                        <li>
                            <strong>     <%= errors %></strong>
                        </li>

                    </ul>
                </div>

                <%}%>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Name application</label>
                        <div class="col-sm-6"><input type="text" name="appname" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Choose file</label>
                        <div class="col-sm-6"><input type="file" name="file_upload" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-2">
                            <input type="submit" value="upload file" onclick="init()" class="btn btn-primary">
                        </div>

                    </div>

        </form>
    </div>
    <div></div>
    <% include footer%>