<ion-view>
    <link rel="stylesheet" type="text/css" href="css/category.css">
    <ion-header-bar class="bar-pink">
        <button class="button button-clear icon-back button-light" ng-click="back()"></button>
        <h4 class="my-title title white" ng-bind-html="name"></h4>
<!--         <button class="button button-clear icon-category button-light" ng-show="check" ui-sref="app.category"></button>
 -->
 </ion-header-bar>
 <div class="bar bar-subheader no-padding" ng-if="check&&dataCate">
	<ion-scroll direction="x" class="my-scroll" overflow-scroll="false">
		<span class="margin-l10" style="font-weight: bold">{{'all'|translate}}</span>
		<a ng-repeat="x in dataCate" class="padding-horizontal" ng-click="goCateChild(x.id)">{{x.name}}</a>
    </ion-scroll>
 </div>
    <ion-content class="padding" ng-class="{subheader:check}" delegate-handle="content">
	<ion-refresher pulling-text="{{'pull'|translate}}" on-refresh="doRefresh()" spinner="none"></ion-refresher>
	<div class="text-center padding" ng-show="refreshing"><ion-spinner></ion-spinner></div>
        <div class="post-thumnail over-flow margin-t10 border-b" ng-repeat="x in data">
            <div class="thumbnail float-l col-41 relative">
                <a ng-href="#app/details/{{x.id}}" ng-if="x.format=='standard'||x.format=='video'">
                    <img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}></a>
                <a ng-href="#app/slidebox/{{x.id}}" ng-if="x.format=='image'||x.format=='gallery'">
                    <img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}></a>
                <div class="play absolute" ng-if="x.format=='image'|| x.format=='gallery'"><i class="icon-gallery1 absolute"></i></div>
                <div class="absolute play" ng-if="x.format=='video'"><i class="icon-play absolute"></i></div>
            </div>
            <div class="title-thumbnail float-l col-61 padding-thumbnail">
                <a ng-href="#app/details/{{x.id}}" ng-if="x.format=='standard'||x.format=='video'">
                    <p ng-bind-html="x.title.rendered"> </p>
                </a>
                <a ng-href="#app/slidebox/{{x.id}}" ng-if="x.format=='image'||x.format=='gallery'">
                    <p ng-bind-html="x.title.rendered"> </p>
                </a>
                <p class="info-post padding-t10 gray"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span></p>
            </div>
        </div>
	<ion-infinite-scroll ng-if="!over" on-infinite="load()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
