    <div class="padding has-tabs-top has-footer  margin-b10">
        <!-- <button class="button button-clear icon-delete button-dark news-delete" ng-if="tmp.length>0" ng-click="deleteBook()"></button>
        <div class="photo-bookmark over-flow margin-t10">
            <div class="float-l col-30 margin-l10 relative" ng-repeat="x in data" ng-if="x.format=='image' || x.format=='gallery'">
                <a ng-href="#app/slidebox/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}></a>
                <ion-checkbox class="check-photo absolute" ng-model="check" ng-click="bookDelete(check,x.id)"></ion-checkbox>
            </div>
           
        </div> -->
             


        <div class="post-thumnail over-flow margin-t10 border-b " ng-repeat="x in data | limitTo:limitImage" ng-if="x.format=='image' || x.format=='gallery'">
            <div class="thumbnail float-l col-41 relative">
                <a ng-href="#app/slidebox/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}></a>
                <div class="play absolute" ng-if="x.format=='image'|| x.format=='gallery'"><i class="icon-gallery1 absolute"></i></div>
            </div>
            <div class="title-thumbnail float-l col-61 padding-thumbnail">
                <a ng-href="#app/slidebox/{{x.id}}">
                    <p ng-bind-html="x.title.rendered">
                    </p>
                </a>
                <p class="info-post padding-t10 gray relative"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span>
                    <button class="button button-clear icon-delete button-dark news-delete absolute " ng-click="deleteNews(x.id)"></button>
                </p>
            </div>
        </div>
            <button class=" button  bar-pink clear-all" ng-if="checkImage" ng-click="clearAll()">{{'clearAll'|translate}}</button>

         <ion-infinite-scroll ng-if="limitImage<bookImage.length" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </div>
