

    <div class="padding has-tabs-top has-footer margin-b10">
        <!-- <div class="over-flow white-d">
                <button class="button button-clear icon-delete button-dark news-delete " ng-if="tmp.length>0" ng-click="deleteBook()"></button>

        <div class="bookmark-video over-flow margin-t10 " ng-if="checkVideo">
        <div class="video-item col-51 float-l padding-r5 " ng-repeat="x in data" ng-if="x.format=='video'" ng-init="check=false">
                <div class="thumbnail-video  relative" ng-click="check=!check;bookDelete(check,x.id)">
                  <img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}>
                    <div class="play2 absolute" ng-if="!check"><i class="icon-play1 absolute"></i></div>
                    <div class="play2 absolute" ng-if="check"><i class="ion-checkmark-round absolute"></i></div>
                </div>
                <div class="title-thumbnail padding-5">
                    <a ng-href="#app/details/{{x.id}}">
                        <p ng-bind-html="x.title.rendered |limitTo:50"></p>
                    </a>
                </div>
                <div class="info-post">
                    <p class="gray padding-l5"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span></p>
                </div>
            </div>
            </div>
            </div> -->
        <div class="post-thumnail over-flow margin-t10 border-b " ng-repeat="x in data | limitTo:limitVideo" ng-if="x.format=='video'">
            <div class="thumbnail float-l col-41 relative">
                <a ng-href="#app/details/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large||'img/no_images.png'}}></a>
                <div class="play absolute"><i class="icon-play absolute"></i></div>
            </div>
            <div class="title-thumbnail float-l col-61 padding-thumbnail">
                <a ng-href="#app/details/{{x.id}}">
                    <p ng-bind-html="x.title.rendered">
                    </p>
                </a>
                <p class="info-post padding-t10 gray relative"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span>
                    <button class="button button-clear icon-delete button-dark news-delete absolute " ng-click="deleteNews(x.id)"></button>
                </p>
            </div>
        </div>
    <button class=" button  bar-pink clear-all" ng-if="checkVideo" ng-click="clearAll()">{{'clearAll'|translate}}</button>
         <ion-infinite-scroll ng-if="limitVideo<bookVideo.length" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </div>
