<div ng-if="topFeature.length>0">
<div class="top over-flow white-d " >
    <div class="post-thumnail over-flow margin-t10 border-b" ng-repeat="x in topFeature " ng-if="x.format=='standard'">
        <div class="thumbnail float-l col-41" ng-if="x.mobiconnector_feature_image!=null">
            <a ng-href="#app/details/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large}}></a>
        </div>
        <div class="thumbnail float-l col-41" ng-if="x.mobiconnector_feature_image==null">
            <a ng-href="#app/details/{{x.id}}"><img src="img/no_images.png"></a>
        </div>
        <div class="title-thumbnail float-l col-61 padding-thumbnail">
            <a ng-href="#app/details/{{x.id}}">
                <p ng-bind-html="x.title.rendered"> </p>
            </a>
            <p class="info-post padding-t10 gray"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span></p>
        </div>
    </div>

  
   
    <!-- div class="see-more">
        <p>See More(2)</p>
    </div> -->
</div>
<!--///////////////////////////// Video////////////////////// -->
<div class="video margin-t10 white-d over-flow">
    <div class="head-video">
        <h4 class="padding-5 pink">Video<i class="icon-video padding-l5"></i></h4>
    </div>
    <div class="video-item col-50 float-l padding-r5" ng-repeat="x in featureVideo">
        <div class="thumbnail-video  relative" ng-if="x.mobiconnector_feature_image!=null">
            <a ng-href="#app/details/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large}}></a>
            <div class="play1 absolute"><i class="icon-play absolute"></i></div>
        </div> 
        <div class="thumbnail-video  relative" ng-if="x.mobiconnector_feature_image==null">
            <a ng-href="#app/details/{{x.id}}"><img ng-src="img/no_images.png"></a>
            <div class="play1 absolute"><i class="icon-play absolute"></i></div>
        </div>
        <div class="title-thumbnail padding-5">
            <a ng-href="#app/details/{{x.id}}">
                <p ng-bind-html="x.title.rendered | limitTo:50"></p>
            </a>
        </div>
        <div class="info-post">
            <p class="gray padding-l5"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span></p>
        </div>
    </div>
  <!--   <div class="video-item col-50 float-l padding-r5">
        <div class="thumbnail-video  relative">
            <img src="img/img_video1.png">
            <div class="play1 absolute"><i class="icon-play absolute"></i></div>
        </div>
        <div class="title-thumbnail padding-5">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div> -->
</div>
<!-- ////////////////////////Photo/////////////////////// -->
<div class="photo margin-t10 over-flow white-d">
    <div class="head-photo">
        <h4 class="pink padding-5">Photo<i class="icon-camera padding-l5"></i></h4></div>
   <div class="photo-item" ng-class="{toppost:$first}" ng-repeat="x in featureImage">
        <div class="post-thumnail over-flow margin-t10 border-b" ng-if="x.mobiconnector_feature_image!=null">
            <div class="thumbnail float-l col-41 relative">
                <a ng-href="#app/slidebox/{{x.id}}"><img ng-src={{x.mobiconnector_feature_image.mobiconnector_large}}></a>
                <div class="play2 absolute" ng-if="$first"><i class="icon-gallery absolute"></i></div>
                <div class="play absolute" ng-if="!$first"><i class="icon-gallery1 absolute"></i></div>
            </div>
            <div class="thumbnail float-l col-41 relative" ng-if="x.mobiconnector_feature_image==null">
                <a ng-href="#app/slidebox/{{x.id}}"><img src="img/no_images.png"></a>
                <div class="play2 absolute"></div>
            </div>
            <div class="title-thumbnail float-l col-61 padding-thumbnail">
                <a ng-href="#app/slidebox/{{x.id}}">
                    <p ng-bind-html="x.title.rendered">
                    </p>
                </a>
                <p class="text-left padding-t10 gray"><span class="padding-r10">{{x.mobiconnector_total_comments.all}}<i class="icon-comment"></i></span><span>{{x.mobiconnector_total_views}}<i class="icon-eyes"></i></span></p>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;height: 10px"></div>
</div>