<ion-view>
    <ion-header-bar class="bar-pink">
        <button class="button button-clear icon-back button-light" ng-click="comeBack()"></button>
        <p class="title white ">About Us</p>
    </ion-header-bar>
    <ion-content>
        <p class="pink margin-t20 padding-10">About Star News</p>
        <div class="main-term padding-20 align-left">
        	<p>
        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu dignissim velit, quis tincidunt est. Quisque imperdiet ut lorem nec pellentesque. Maecenas rutrum ullamcorper viverra. Duis in eros metus. Quisque et porta tortor, ut eleifend sem. Quisque ultricies, libero at dictum maximus, ipsum eros placerat nunc, sed elementum libero augue et quam. Ut imperdiet sapien dolor, id gravida lectus eleifend sed. Nunc vulputate leo eget ante mattis congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum cursus et diam vitae molestie. Nulla facilisi. Integer fringilla at enim nec ornare.
        	</p>
        </div>
    </ion-content>
</ion-view>
