<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="false">
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
	
    <ion-side-menu side="right">
        <ion-header-bar class="bar-pink">
            <h3 class="title white">{{'settings'|translate}}</h3>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="no-border"><span class="pink" style="font-size: 13px">{{'setting'|translate}}</span></ion-item>
                <ion-toggle ng-model="checkPush" ng-click="allowNotifi(checkPush)">{{'pushnotification'|translate}}</ion-toggle>
                <ion-item ng-click="rateApp()">{{'rateApp'|translate}}</ion-item>
                <ion-item ng-click="share()">{{'shareApp'|translate}}</ion-item>
                <ion-item ng-click="textSize()">{{'textsize'|translate}}</ion-item>
                <ion-item class="no-border pink"><span style="font-size: 13px">{{'informations'|translate}}</span></ion-item>
                <ion-item menu-close-keep ui-sref="app.term">{{'term'|translate}}</ion-item>
                <ion-item menu-close-keep ui-sref="app.about">{{'about'|translate}}</ion-item>
                <ion-item menu-close-keep ui-sref="app.privacy">{{'privacy'|translate}}</ion-item>
                <ion-item class="version"><a>{{'version'|translate}} {{version}}</a></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
	<ion-footer-bar class="my-footer row" ng-class="{hidefooter:hideFooter}">
		<div ui-sref="app.tabs" class="col no-padding" ng-class="{activehome:activehome}">
			<i class="icon-home1" ></i>
			<span>{{'home'|translate}}</span>
		</div>
		<div ng-click="goCate()" class="col no-padding" ng-class="{activecate:activecate||activecate1}">
			<i class="icon-category"></i>
			<span>{{'category'|translate}}</span>
		</div>
		<div  ui-sref="app.search" class="col no-padding" ng-class="{activesearch:activesearch}">
			<i class="icon-search"></i>
			<span>{{'search'|translate}}</span>
		</div>
		<div  ui-sref="app.bookmark" class="col no-padding" ng-class="{activebook:activebook}">
			<i class="icon-bookmark" ></i>
			<span>{{'bookmarks'|translate}}</span>
		</div>
		<div menu-toggle="right" class="col no-padding" ng-click="activeMenu()" ng-class="{activemenu:activemenu}">
			<i class="icon-setting"></i>
			<span>{{'setting'|translate}}</span>
		</div>
	</ion-footer-bar>
</ion-side-menus>